<div class="container">
  <h1> Astronauts </h1>

  <form novalidate="novalidate" class="simple_form search" action="/astronauts" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="search_query" value="<%= params[:query]   %>"/>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>

  <ul class="list-group">
    <% @astronauts.each do |astronaut| %>
      <div class="card-product mb-3">
        <%= image_tag astronaut.profile_image.nil? ? "placeholder-image.png" : astronaut.profile_image %>
        <div class="card-product-infos">
          <h2><%= astronaut.name %></h2>
          <p><%= astronaut.status %></p>
          <h6><%= astronaut.agency %></h6>
          <%= link_to "More info", astronaut_path(astronaut), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </ul>
</div>
