<div class="container">
  <h1> Astronauts </h1>
  <ul class="list-group">
    <% @astronauts.each do |astronaut| %>
      <div class="card-product mb-3">
        <%= image_tag astronaut.feature_image %>
        <div class="card-product-infos">
          <h2><%= astronaut.name %></h2>
        #   <p><%= astronaut.date.to_date %> | <%= astronaut.astronaut_type %></p>
          <p><%= astronaut.location %></p>
        #   <h5>00 : 00 : 00 : 00</h5>
          <%= link_to "More info", astronaut_path(astronaut), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </ul>
</div>
