<div class="container text-center">
  <hr>
  <h1 class="fw-bold">NEWS ARTICLES</h1>
  <hr>
  <form novalidate="novalidate" class="simple_form search mb-3" action="/articles" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required bg-white" type="text" name="query" id="search_query" value="<%= params[:query]   %>"/>
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
  <ul class="list-group">
    <% @articles.each do |article| %>
      <div class="wide-card mb-3">
        <%= image_tag article["imageUrl"].nil? ? "placeholder-image.png" : article["imageUrl"] %>
        <div class="wide-card-infos">
          <h2><%= article["title"] %></h2>
          <p><%= article["summary"] %></p>
          <%= link_to "More info", article["url"], class: "btn btn-primary mt-2", target: :_blank %>
        </div>
      </div>
    <% end %>
  </ul>
</div>
<div class="container my-3">
  <%= paginate @articles, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
</div>
