<%= render "shared/breadcrumbs" %>
<div class="container mt-5 vh-100">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">Create new topic</h1>
  </div>
  <%= simple_form_for @topic do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit class: 'btn btn-primary w-100' %>
  <% end %>
</div>
