<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-3">
    <h1><%= @topic.title %></h1>
  </div>
  <p><%= @topic.description %></p>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <p class="m-0 px-2 py-1 text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">Members: <%= @topic.topic_members.count %></p>
    <% if !@current_user_topic_member.nil? %>
      <% if @current_user_topic_member.role == 'member' %>
        <%= link_to "Leave topic", topic_member_path(@current_user_topic_member), data: {turbo_method: :delete}, class: "btn btn-warning" %>
      <% else %>
        <%= link_to "Delete topic", topic_path(@topic), data: {turbo_method: :delete}, class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= link_to "Join topic", topic_topic_members_path(@topic), data: {turbo_method: :post}, class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "New Post", new_topic_post_path(@topic), class: "btn btn-primary mt-3"  %>
  <ul class="list-group mt-3">
    <% @posts.each do |post| %>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <%= link_to post_path(post), class: "text-decoration-none" do %>
          <h5 class="m-0"><%= post.title %></h5>
        <% end %>
          <p class="m-0">Posted by <%= User.find(post.user_id).username %></p>
      </li>
    <% end %>
  </ul>
</div>
<div class="container mt-3">
  <%= paginate @posts, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
</div>
