<div class="container">
  <hr>
    <h1 class="fw-bold text-center">UPCOMING EVENTS</h1>
  <hr>
  <form novalidate="novalidate" class="simple_form search mb-3" action="/events" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required bg-white" type="text" name="query" id="search_query" value="<%= params[:query]   %>"/>
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
  <ul class="list-group">
    <% @events.each do |event| %>
      <div class="wide-card mb-3">
        <%= image_tag event.feature_image %>
        <div class="wide-card-infos">
          <h2><%= event.name %></h2>
          <p><%= event.date.strftime('%B %e %Y') %> | <%= event.event_type %></p>
          <h6 class="mt-2"><%= event.location.nil? ? "N/A" : event.location %></h6>
          <div data-controller="countdown" data-countdown-date-value="<%= event.date.to_s %>"></div>
          <%= link_to "More info", event_path(event), class: "btn btn-primary mt-2" %>
        </div>
      </div>
    <% end %>
  </ul>
</div>
<div class="container my-3">
  <%= paginate @events, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
</div>
