<div class="container text-center">
  <hr>
  <h1 class="fw-bold">AGENCIES</h1>
  <hr>
  <form novalidate="novalidate" class="simple_form search mb-3" action="/agencies" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required bg-white" type="text" name="query" id="search_query" value="<%= params[:query]   %>"/>
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
  <div class="row g-3 justify-content-between">
    <% @agencies.each do |agency| %>
      <div class="col-3">
        <div class="card small-card">
          <div class="card-img-top p-3 overflow-hidden small-card-img">
            <%= image_tag agency.logo_url.nil? ? "placeholder-image.png" : agency.logo_url, class: "card-img-top" %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-truncate"><%= agency.name %></h5>
            <p class="card-text"><%= agency.country_code.split(',').first(3).join(" | ") %></p>
            <%= link_to "More info", agency_path(agency), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container my-3">
  <%= paginate @agencies, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
</div>
