<div class="container text-center">
  <hr>
  <h1 class="fw-bold"> AGENCIES</h1>
  <hr>
  <div class="row g-3 justify-content-between">
    <% @agencies.each do |agency| %>
      <div class="col-3">
        <div class="card small-card">
          <div class="card-img-top p-3 overflow-hidden small-card-img">
            <%= image_tag agency.logo_url.nil? ? "placeholder-image.png" : agency.logo_url, class: "card-img-top" %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-truncate"><%= agency.name %></h5>
            <p class="card-text"><%= agency.country_code.split(',').first(3).join(" | ") %></p>
            <%= link_to "More info", agency_path(agency), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-3">
  <%= paginate @agencies, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
  </div>
