<div class="w-100">
  <div class="banner">
    <div class="container">
      <h1 class="text-center"><strong>ASTROLOG</strong></h1>
      <p class="text-center">Bringing the wonders of the universe to your fingertips</p>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="home-grid">
    <div class="in-space">
      <div class='text-center card'>
        <div class="card-header">
          <%= @in_space["people"].size %> humans currently in space
        </div>
        <ul class="list-group list-group-flush">
          <% @in_space["people"].each do |space| %>
          <li class="list-group-item">
            <p class="m-0"><%= space["name"] %> is on space station <%= space["craft"] %></p>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <div class="pod-card">
        <div class="pod-card-image">
          <% if @media_type_is_video %>
          <% else %>
            <%= image_tag @nasa_info["url"], class: "w-100" %>
          <% end %>
        </div>
        <div class="pod-card-details p-2">
          <h5 class="text-center">NASA Picture of the day - <%= @nasa_info["title"] %></h5>
          <hr>
          <p><%= @nasa_info["explanation"] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mars-rover text-center mt-3">
  <div><h3>Daily Mars Rover Image</h3></div>
  <div><%= image_tag @mars_rover["img_src"] %></div>
</div>
