<div class="container">
  <h1> Launches </h1>
  <ul class="list-group">
    <% @launches.each do |launch| %>
      <div class="card-product mb-3">
        <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/#{launch.pad_lng},#{launch.pad_lat},10.20,0,60/400x400?access_token=#{ENV["MAPBOX_API_KEY"]}" %>
          <div class="card-product-infos">
            <h2><%= launch.name %></h2>
            <p><%= launch.agenc %></p>
            <h5 data-controller="countdown" data-countdown-date-value="<%= launch.window_start.to_s %>"></h5>
            <%= link_to "More info", launch_path(launch), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </ul>
</div>
