<div class="container">
  <hr>
    <h1 class="fw-bold text-center">UPCOMING LAUNCHES</h1>
  <hr>
  <form novalidate="novalidate" class="simple_form search mb-3" action="/launches" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required bg-white" type="text" name="query" id="search_query" value="<%= params[:query]   %>"/>
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
  <ul class="list-group">
    <% @launches.each do |launch| %>
      <div class="wide-card mb-3">
        <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-s-l+000(#{launch.pad_lng},#{launch.pad_lat})/#{launch.pad_lng},#{launch.pad_lat},3.6,0,0/400x400?access_token=#{ENV["MAPBOX_API_KEY"]}" %>
          <div class="wide-card-infos">
            <h2><%= launch.name %></h2>
            <p><%= launch.agenc %> | <%= launch.rocket %></p>
            <p><%= launch.mission_desc %></p>
            <h2 data-controller="countdown" data-countdown-date-value="<%= launch.window_start.to_s %>"></h2>
            <%= link_to "More info", launch_path(launch), class: "btn btn-primary mt-2" %>
          </div>
        </div>
      <% end %>
    </ul>
</div>
<div class="container my-3">
  <%= paginate @launches, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
</div>
