<div class="my-2 container">
  <div class="post container">
    <div class="post-body">
      <div class="post-user">
        <%= image_tag "avatar.webp", class: "post-avatar", class: "my-2" %>
        <p class="post-username"><%= @user.username %></p>
      </div>
      <div class="m-2 post-content">
        <h4 class="post-title"><%= @post.title %></h4>
        <div><%= @post.content %></div>
        <div class="p-2 post-date d-flex align-items-center justify-content-end">
          <% if @post.user == current_user %>
            <p class="m-0">Posted on: <%= @post.created_at.strftime('%B %e %Y at %H:%I %p') %> | Updated on: <%= @post.updated_at.strftime('%B %e %Y at %I:%M %p') %></p>
            <div class="links ms-2">
              <%= link_to "Edit", edit_post_path, class: "btn btn-outline-primary btn-sm" %>
              <%= link_to "Delete", post_path(@post), data: {turbo_method: :delete}, class: "btn btn-outline-danger btn-sm" %>
            </div>
          <% else %>
            <p class="m-0">Posted on: <%= @post.created_at.strftime('%B %e %Y at %H:%I %p') %> | Updated on: <%= @post.updated_at.strftime('%B %e %Y at %I:%M %p') %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" container">
  <% @messages.each do |message| %>
    <div class="post mt-2 p-3">
      <div class="post-body">
        <div class="post-user">
          <%= image_tag "avatar.webp", class: "post-avatar", class: "my-2" %>
          <p class="post-username"><%= User.find(message.user_id).username %></p>
        </div>
        <div class="m-2 post-content">
          <div>
            <%= message.content %>
          </div>
          <div class="p-2 post-date d-flex align-items-center justify-content-end">
            <% if message.user == current_user %>
            <p class="m-0"> Replied on: <%= message.created_at.strftime('%B %e %Y at %I:%M %p') %> | Updated on: <%= message.updated_at.strftime('%B %e %Y at %I:%M %p') %></p>
              <div class="links ms-2">
                <%= link_to "Edit", edit_message_path(message), class: "btn btn-outline-primary btn-sm" %>
                <%= link_to "Delete", message_path(message), data: {turbo_method: :delete}, class: "btn btn-outline-danger btn-sm" %>
              </div>
            <% else %>
              <p class="m-0">Replied on: <%= message.created_at.strftime('%B %e %Y at %I:%M %p') %> | Updated on: <%= message.updated_at.strftime('%B %e %Y at %I:%M %p') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container mt-3">
  <%= paginate @messages, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
</div>
<div class="container">
  <div class="mt-3 p-3 add-reply">
    <%= simple_form_for [@post, @message] do |f| %>
      <%= f.input :content, label: "Add a reply" %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
