<div class="container-fluid">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images8.alphacoders.com/125/thumb-1920-1255266.png);">
    <div class="container">
      <h1 class="text-center"><strong>ASTROLOG</strong></h1>
      <p class="text-center">Bringing the wonders of the universe to your fingertips</p>
    </div>
</div>
   <div class="row justify-content-around">
    <div class="mb-3 mt-3 mx-3 col-9 col-lg-6" >
     <div class="card" >
        <h2 class="text-center">Picture of the day!</h2>
        <% if @media_type_is_video %>
        http://%=%20@nasa_info[
        <% else %>
        <img class="card-img-top" src="<%= @nasa_info["url"] %>" alt="Card image cap" />
        <% end %>
        <h1 class="text-center"><%= @nasa_info["title"] %></h1>
        <p><%= @nasa_info["explanation"] %></p>
      </div>
    </div>
    <div class='mx-3 mb-3 mt-3 text-center col-6 col-lg-3'>
      <div class='card mx-3 mb-3 text-center'>
        <div class="card-header">
          Fun fact: These are the <%= @in_space["people"].size %> humans currently in space👾
        </div>
          <ul class="list-group list-group-flush">
            <% @in_space["people"].each do |space| %>
            <li class="list-group-item"> <%= space["name"] %> </li>
          <% end %>
      </ul>
    </div>
  </div>


<%= render "shared/footer" %>
